@import "../../variables";

.add-post {
  max-width: 545px;
}

.categories-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;

  .categories-list__item {
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
  }
  .category-list__item--selected {
    background: $categoryHighlight;
  }
}

.form-control:focus {
  background: #fffcd0;
}

@media (min-width: 768px) {
  .form {
    display: grid;
    grid-template-areas:
      "title date"
      "desc desc"
      "btn btn";
    grid-gap: 10px;
  }

  .form__post-title {
    grid-area: title;
  }
  .form__post-date {
    grid-area: date;
  }
  .form__post-desc {
    grid-area: desc;
  }
  .form__post-btn {
    grid-area: btn
  }

}
