<div class="add-post container my-3">

  <div class="add-post__header text-center my-3">
    <div>
      <!-- Add Property icon by Icons8 -->
      <img class="add-workout__header-icon" src="https://png.icons8.com/add-property/ios7/100" title="Add Property" width="100" height="100">
    </div>
    <h2 class="add-post__header-text">Add Post</h2>
    <h5 class="my-3">Choose Category</h5>
    <ul class="categories-list">
      <li
        [ngClass]="{'category-list__item--selected': category.selected}"
        (click)="onCategorySelect(category)"
        *ngFor="let category of categories"
        class="categories-list__item">
        <!-- EZ Curl Bar icon by Icons8 -->
        <img src="{{category.src}}" title="{{category.muscle}}" width="65" height="65">
      </li>
    </ul>
  </div>

  <form class="form">
    <div class="form-group form__post-title">
      <label for="user_title">Title:</label>
      <input class="form-control input__post-title" type="text" id="user_title">
    </div>
    <div class="form-group form__post-date">
      <label for="user_date">Date:</label>
      <input class="form-control input__post-date" type="date" id="user_date">
    </div>
    <div class="form-group form__post-desc">
      <label for="user_desc">Description:</label>
      <textarea class="form-control input__post-desc" type="date" id="user_desc" rows="8"></textarea>
    </div>
    <div class="text-center form__post-btn">
      <button routerLink="/add-workout" class="btn btn-primary post-btn col-6" type="button">Add Workout to Post</button>
    </div>
  </form>

</div>
