@import "../variables";


.nav {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: $nav;
  color: $navColor;
  .nav__bars {
    padding: 5px;
    cursor: pointer;
  }
  .nav__title {
    margin: 0;
    padding: 0;
    flex: 1;
    text-align: center;
  }
}

.nav-menu__list {
  display: none;
}

@media (min-width: 768px) {
  .nav {
    .nav__bars {
      display: none;
    }
    .nav__title {
      text-align: right;
    }
  }
}
