@import "../variables";

.nav {
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background: $nav;
  color: $navColor;
  .nav__bars {
    padding: 5px;
    cursor: pointer;
  }
  .nav__title {
    margin: 0;
    padding: 0;
    flex: 1;
    text-align: center;
  }
}
