@import "../../variables";
.post {

}

.post__info {
  max-width: 768px;
  margin: auto;
  .post__categories {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    width: 250px;
    .post__category:not(:first-child) {
      margin-left: 20px;
    }
  }
}


.post-info__exercise {
  margin: 10px 0;
  .post-info__exercise-body {
    //max-width: 340px;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .post__workout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    .post-info__exercise {

    }
  }
}

@media (min-width: 1200px) {
  .post__workout {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
