<div *ngIf="post" class="container">
  <!-- Post Info -->
  <div class="post">
    <div class="post__info">
      <h2 class="post__info-title text-center">{{post.title}}</h2>
      <p class="post__info-desc">{{post.desc}}</p>
      <ul class="post__categories">
        <li *ngFor="let category of post.categories" class="post__category">
          <!-- EZ Curl Bar icon by Icons8 -->
          <img src="{{category}}" title="EZ Curl Bar" width="50" height="50">
        </li>
      </ul>
    </div>

    <!-- Tables Container -->
    <div class="post__workout my-4">

      <!-- Exercise -->
      <div *ngFor="let exercise of post.exercises" class="post-info__exercise">

        <table class="table post-info__exercise-top">
          <thead class="thead-inverse">
          <tr>
            <th>Exercise</th>
            <th>Sets</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{exercise.exercise}}</td>
            <td>{{exercise.numberOfSets}}</td>
          </tr>
          </tbody>
        </table>

        <table  class="table post-info__exercise-body">
          <thead class="thead-default">
          <tr>
            <th>Set</th>
            <th>Weight</th>
            <th>Reps</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let set of exercise.sets">
            <th scope="row">{{set.setNumber}}</th>
            <td>{{set.weight}}</td>
            <td>{{set.reps}}</td>
          </tr>
          </tbody>
        </table>

      </div>
      <!-- /Exercise -->

    </div>
    <!-- /Tables Container -->

  </div>

</div>
