<div class="posts">

  <div class="post">

    <h4 class="post__title">This is the post title</h4>
    <p class="post__description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusantium et hic necessitatibus placeat ratione repudiandae?
    </p>
    <ul class="post__categories">
      <li class="post__category">
        <!-- EZ Curl Bar icon by Icons8 -->
        <img src="https://png.icons8.com/ez-curl-bar/ios7/50" title="EZ Curl Bar" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Exercise icon by Icons8 -->
        <img src="https://png.icons8.com/exercise/ios7/50" title="Exercise" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Spinning icon by Icons8 -->
        <img src="https://png.icons8.com/spinning/ios7/50" title="Spinning" width="50" height="50">
      </li>
    </ul>

  </div>

  <div class="post">

    <h4 class="post__title">This is the post title</h4>
    <p class="post__description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusantium et hic necessitatibus placeat ratione repudiandae?
    </p>
    <ul class="post__categories">
      <li class="post__category">
        <!-- EZ Curl Bar icon by Icons8 -->
        <img src="https://png.icons8.com/ez-curl-bar/ios7/50" title="EZ Curl Bar" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Exercise icon by Icons8 -->
        <img src="https://png.icons8.com/exercise/ios7/50" title="Exercise" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Spinning icon by Icons8 -->
        <img src="https://png.icons8.com/spinning/ios7/50" title="Spinning" width="50" height="50">
      </li>
    </ul>

  </div>

  <div class="post">

    <h4 class="post__title">This is the post title</h4>
    <p class="post__description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusantium et hic necessitatibus placeat ratione repudiandae?
    </p>
    <ul class="post__categories">
      <li class="post__category">
        <!-- EZ Curl Bar icon by Icons8 -->
        <img src="https://png.icons8.com/ez-curl-bar/ios7/50" title="EZ Curl Bar" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Exercise icon by Icons8 -->
        <img src="https://png.icons8.com/exercise/ios7/50" title="Exercise" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Spinning icon by Icons8 -->
        <img src="https://png.icons8.com/spinning/ios7/50" title="Spinning" width="50" height="50">
      </li>
    </ul>

  </div>

  <div class="post">

    <h4 class="post__title">This is the post title</h4>
    <p class="post__description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusantium et hic necessitatibus placeat ratione repudiandae?
    </p>
    <ul class="post__categories">
      <li class="post__category">
        <!-- EZ Curl Bar icon by Icons8 -->
        <img src="https://png.icons8.com/ez-curl-bar/ios7/50" title="EZ Curl Bar" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Exercise icon by Icons8 -->
        <img src="https://png.icons8.com/exercise/ios7/50" title="Exercise" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Spinning icon by Icons8 -->
        <img src="https://png.icons8.com/spinning/ios7/50" title="Spinning" width="50" height="50">
      </li>
    </ul>

  </div>

  <div class="post">

    <h4 class="post__title">This is the post title</h4>
    <p class="post__description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusantium et hic necessitatibus placeat ratione repudiandae?
    </p>
    <ul class="post__categories">
      <li class="post__category">
        <!-- EZ Curl Bar icon by Icons8 -->
        <img src="https://png.icons8.com/ez-curl-bar/ios7/50" title="EZ Curl Bar" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Exercise icon by Icons8 -->
        <img src="https://png.icons8.com/exercise/ios7/50" title="Exercise" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Spinning icon by Icons8 -->
        <img src="https://png.icons8.com/spinning/ios7/50" title="Spinning" width="50" height="50">
      </li>
    </ul>

  </div>

  <div class="post">

    <h4 class="post__title">This is the post title</h4>
    <p class="post__description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusantium et hic necessitatibus placeat ratione repudiandae?
    </p>
    <ul class="post__categories">
      <li class="post__category">
        <!-- EZ Curl Bar icon by Icons8 -->
        <img src="https://png.icons8.com/ez-curl-bar/ios7/50" title="EZ Curl Bar" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Exercise icon by Icons8 -->
        <img src="https://png.icons8.com/exercise/ios7/50" title="Exercise" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Spinning icon by Icons8 -->
        <img src="https://png.icons8.com/spinning/ios7/50" title="Spinning" width="50" height="50">
      </li>
    </ul>

  </div>

  <div class="post">

    <h4 class="post__title">This is the post title</h4>
    <p class="post__description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusantium et hic necessitatibus placeat ratione repudiandae?
    </p>
    <ul class="post__categories">
      <li class="post__category">
        <!-- EZ Curl Bar icon by Icons8 -->
        <img src="https://png.icons8.com/ez-curl-bar/ios7/50" title="EZ Curl Bar" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Exercise icon by Icons8 -->
        <img src="https://png.icons8.com/exercise/ios7/50" title="Exercise" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Spinning icon by Icons8 -->
        <img src="https://png.icons8.com/spinning/ios7/50" title="Spinning" width="50" height="50">
      </li>
    </ul>

  </div>

  <div class="post">

    <h4 class="post__title">This is the post title</h4>
    <p class="post__description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusantium et hic necessitatibus placeat ratione repudiandae?
    </p>
    <ul class="post__categories">
      <li class="post__category">
        <!-- EZ Curl Bar icon by Icons8 -->
        <img src="https://png.icons8.com/ez-curl-bar/ios7/50" title="EZ Curl Bar" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Exercise icon by Icons8 -->
        <img src="https://png.icons8.com/exercise/ios7/50" title="Exercise" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Spinning icon by Icons8 -->
        <img src="https://png.icons8.com/spinning/ios7/50" title="Spinning" width="50" height="50">
      </li>
    </ul>

  </div>

  <div class="post">

    <h4 class="post__title">This is the post title</h4>
    <p class="post__description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusantium et hic necessitatibus placeat ratione repudiandae?
    </p>
    <ul class="post__categories">
      <li class="post__category">
        <!-- EZ Curl Bar icon by Icons8 -->
        <img src="https://png.icons8.com/ez-curl-bar/ios7/50" title="EZ Curl Bar" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Exercise icon by Icons8 -->
        <img src="https://png.icons8.com/exercise/ios7/50" title="Exercise" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Spinning icon by Icons8 -->
        <img src="https://png.icons8.com/spinning/ios7/50" title="Spinning" width="50" height="50">
      </li>
    </ul>

  </div>

  <div class="post">

    <h4 class="post__title">This is the post title</h4>
    <p class="post__description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusantium et hic necessitatibus placeat ratione repudiandae?
    </p>
    <ul class="post__categories">
      <li class="post__category">
        <!-- EZ Curl Bar icon by Icons8 -->
        <img src="https://png.icons8.com/ez-curl-bar/ios7/50" title="EZ Curl Bar" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Exercise icon by Icons8 -->
        <img src="https://png.icons8.com/exercise/ios7/50" title="Exercise" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Spinning icon by Icons8 -->
        <img src="https://png.icons8.com/spinning/ios7/50" title="Spinning" width="50" height="50">
      </li>
    </ul>

  </div>

  <div class="post">

    <h4 class="post__title">This is the post title</h4>
    <p class="post__description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusantium et hic necessitatibus placeat ratione repudiandae?
    </p>
    <ul class="post__categories">
      <li class="post__category">
        <!-- EZ Curl Bar icon by Icons8 -->
        <img src="https://png.icons8.com/ez-curl-bar/ios7/50" title="EZ Curl Bar" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Exercise icon by Icons8 -->
        <img src="https://png.icons8.com/exercise/ios7/50" title="Exercise" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Spinning icon by Icons8 -->
        <img src="https://png.icons8.com/spinning/ios7/50" title="Spinning" width="50" height="50">
      </li>
    </ul>

  </div>

  <div class="post">

    <h4 class="post__title">This is the post title</h4>
    <p class="post__description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusantium et hic necessitatibus placeat ratione repudiandae?
    </p>
    <ul class="post__categories">
      <li class="post__category">
        <!-- EZ Curl Bar icon by Icons8 -->
        <img src="https://png.icons8.com/ez-curl-bar/ios7/50" title="EZ Curl Bar" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Exercise icon by Icons8 -->
        <img src="https://png.icons8.com/exercise/ios7/50" title="Exercise" width="50" height="50">
      </li>
      <li class="post__category">
        <!-- Spinning icon by Icons8 -->
        <img src="https://png.icons8.com/spinning/ios7/50" title="Spinning" width="50" height="50">
      </li>
    </ul>

  </div>

</div>
