<div class="posts">

  <div [routerLink]="['/posts', post.id]" (click)="onSelectPost(post)" *ngFor="let post of posts" class="post">
    <small>{{post.date}}</small>
    <h4 class="post__title">{{post.title}}</h4>
    <p class="post__description">
      {{post.desc}}
    </p>
    <ul  class="post__categories">
      <li *ngFor="let categorySrc of post.categories" class="post__category">
        <!-- EZ Curl Bar icon by Icons8 -->
        <img src="{{categorySrc}}" title="EZ Curl Bar" width="50" height="50">
      </li>
    </ul>

  </div>

</div>
