<div class="add-workout container">

  <div class="add-workout__header">

    <h3 class="add-workout__header-title text-center my-3">Add Workout</h3>

    <!-- Dropdowns -->
    <div class="add-workout__header-dropdowns">
      <!-- Dropdown -->
      <div class="add-workout__header-dropdown my-3">
        <div class="add-workout__header-dropdown-top">
        <span class="add-workout__header-dropdown--text">Choose Muscle Group</span>
          <div>
            <!-- Muscle icon by Icons8 -->
            <img class="add-workout__header-dropdown--icon" src="https://png.icons8.com/muscle/ios7/45" title="Muscle" width="45" height="45">
          </div>
        </div>
        <!--<ul class="add-workout__header-dropdown-list">-->
          <!--<li class="add-workout__header-dropdown-list-item">Shoulders</li>-->
          <!--<li class="add-workout__header-dropdown-list-item">Back</li>-->
          <!--<li class="add-workout__header-dropdown-list-item">Abs</li>-->
          <!--<li class="add-workout__header-dropdown-list-item">Legs</li>-->
          <!--<li class="add-workout__header-dropdown-list-item">Chest</li>-->
          <!--<li class="add-workout__header-dropdown-list-item">Arms</li>-->
        <!--</ul>-->
      </div>
      <!-- /Dropdown -->

      <!-- Dropdown -->
      <div class="add-workout__header-dropdown">
        <div class="add-workout__header-dropdown-top">
          <span class="add-workout__header-dropdown--text">Number of Exercises</span>
          <div>
            <!-- List icon by Icons8 -->
            <img src="https://png.icons8.com/list/win8/45" title="List" width="45" height="45">
          </div>
        </div>
        <!--<ul class="add-workout__header-dropdown-list">-->
          <!--<li class="add-workout__header-dropdown-list-item">1</li>-->
          <!--<li class="add-workout__header-dropdown-list-item">2</li>-->
          <!--<li class="add-workout__header-dropdown-list-item">3</li>-->
          <!--<li class="add-workout__header-dropdown-list-item">4</li>-->
          <!--<li class="add-workout__header-dropdown-list-item">5</li>-->
        <!--</ul>-->
      </div>
      <!-- Dropdown -->

    </div>
    <!-- /Dropdowns -->
  </div>


  <div class="add-workout__logs my-4">
    <ul class="add-workout__progress">
      <li class="add-workout__progress-number">1</li>
      <li class="add-workout__progress-number">2</li>
      <li class="add-workout__progress-number">3</li>
      <li class="add-workout__progress-number">4</li>
      <li class="add-workout__progress-number">5</li>
    </ul>

    <form class="add-workout__log">

      <div class="add-workout__log-header">
        <div class="form-group">
          <label for="user_exercise">Exercise</label>
          <input class="form-control" type="text" id="user_exercise">
        </div>
        <div class="form-group">
          <label for="user_sets">Sets:</label>
          <input class="form-control" type="number" id="user_sets">
        </div>
      </div>

      <div class="add-workout__log-body my-2">

        <div class="add-workout__log-weight-set">
          <div class="set_number form-group">
            <p>Set</p>
            <p>1</p>
          </div>
          <div class="form-group">
            <label for="user_weight">Weight</label>
            <input class="form-control" type="number" id="user_weight">
          </div>
          <div class="form-group">
            <label for="user_reps">Reps</label>
            <input class="form-control" type="number" id="user_reps">
          </div>
        </div>

        <div class="add-workout__log-weight-set">
          <div class="set_number form-group">
            <p>Set</p>
            <p>2</p>
          </div>
          <div class="form-group">
            <label for="user_weight">Weight</label>
            <input class="form-control" type="number" id="user_weight">
          </div>
          <div class="form-group">
            <label for="user_reps">Reps</label>
            <input class="form-control" type="number" id="user_reps">
          </div>
        </div>

        <div class="add-workout__log-weight-set">
          <div class="set_number form-group">
            <p>Set</p>
            <p>3</p>
          </div>
          <div class="form-group">
            <label for="user_weight">Weight</label>
            <input class="form-control" type="number" id="user_weight">
          </div>
          <div class="form-group">
            <label for="user_reps">Reps</label>
            <input class="form-control" type="number" id="user_reps">
          </div>
        </div>

        <div class="add-workout__log-weight-set">
          <div class="set_number form-group">
            <p>Set</p>
            <p>4</p>
          </div>
          <div class="form-group">
            <label for="user_weight">Weight</label>
            <input class="form-control" type="number" id="user_weight">
          </div>
          <div class="form-group">
            <label for="user_reps">Reps</label>
            <input class="form-control" type="number" id="user_reps">
          </div>
        </div>

        <div class="add-workout__log-weight-set">
          <div class="set_number form-group">
            <p>Set</p>
            <p>5</p>
          </div>
          <div class="form-group">
            <label for="user_weight">Weight</label>
            <input class="form-control" type="number" id="user_weight">
          </div>
          <div class="form-group">
            <label for="user_reps">Reps</label>
            <input class="form-control" type="number" id="user_reps">
          </div>
        </div>


        <div class="text-center">
          <button type="button" class="btn btn-primary col-6">Next Exercise</button>
        </div>

      </div>

    </form>

  </div>

</div>
