<div class="add-workout container">
  <h3  class="add-workout__title text-center my-3">Add Workout</h3>
  <!-- Dropdown -->
  <div class="add-workout__dropdown">
    <div (click)="toggleState()" class="add-workout__dropdown-top">
      <span class="add-workout__dropdown--text">{{exercisesDropdownText}}</span>
      <div>
        <!-- List icon by Icons8 -->
        <img src="https://png.icons8.com/list/win8/45" title="List" width="45" height="45">
      </div>
    </div>
    <ul [@dropdownState]="exercisesDropdown" class="add-workout__dropdown-list">
      <li (click)="chooseItem($event)"
          *ngFor="let num of numberOfExercises"
          class="add-workout__dropdown-list-item">{{num}}</li>
    </ul>
  </div>
  <app-progress-bar (emitProgressBar)="getProgress($event)" [numberOfExercises]="selectedNumberOfExercises"></app-progress-bar>
</div>

<app-exercises
  [numOfExercises]="selectedNumberOfExercises"
  [progress]="progress">
</app-exercises>
