$fa-font-path : '../node_modules/font-awesome/fonts';

// Nav Colors
$nav : #4278a9;
$navColor : #ebebeb;

// Posts
$postOdd : #b9d1dd;

// Add Post
$categoryHighlight: #58aadf;

// Add Workout
$dropdownShadow : #d7e5ec;
$dropdown : #b9d1dd;
$dropdownHover : #569ce0;
$progressBar : #58aadf;
$workoutLog : #b9d1dd;
