@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "variables";
@import "../node_modules/font-awesome/scss/font-awesome";

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

app-root {
  flex: 1;
}

.footer {
  background: $nav;
  color: $navColor;
  .footer__contact-me {
    text-align: center;
    margin: 10px 0 5px 0;
  }
  .footer__icons {
    padding: 15px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    max-width: 300px;
    margin: auto;
  }
  .footer__icon {
    font-size: 1.2rem;

  }
  .footer__icon-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: inherit;
    font-weight: bold;
  }
}

.copyright {
  background: #3f6d9b;
  padding: 4px;
}
